<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>David Rameau's Online Portfolio</title>
		<link rel="stylesheet" href="css/mybulmastyles.css">
		<link href="styles.css" rel="stylesheet">
		<link rel="icon" href="images/sad copy 2.png">
		<script src="node_modules/vue/dist/vue.js"></script>
	</head>



	<body class="has-navbar-fixed-top is-fullheight" id="body">
		<div class="section" id="main-section">
		
		<!--navbar-->
		<nav class="navbar has-shadow is-transparent is-fixed-top" role="navigation" aria-label="main navigation" id="site-navbar">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="#">
						<img src="images/white.png" id ="cave">
						<img src="images/white2.png" id ="cave2">
						<img src="images/white2.png" id ="cave3">
						<img src="images/krab.png" alt="Logo" id="krab" href=".">
						<img src="images/border.png" id="border-left">
					</a>
					<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" id="burger" 
						    data-target="navbarMenu">
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>
				<div id="nav-links" role="navigation" class="navbar-menu">
					<div class="navbar-end">
						<a class="navbar-item" style="text-align:center;" id="home">
							Home
						</a>
						<a class="navbar-item has-text-link" style="text-align:center;" id= "about">
							About
						</a>
						<a class="navbar-item has-text-link" style="text-align:center;" id="resume" >
							Resume
						</a>
					</div>
				</div>
			</div>
		</nav>
		

		<!--Home Section-->
		<section class="section" id="home-section" style="padding-top: 12px;">
			<div class="container">
				<h3 class="title has-text-centered is-size-4" style="margin-bottom: 48px;">Posts</h3>
				<div id="projectCards">
				<div class="row columns is-multiline">
					<div class="column is-4-tablet is-3-desktop" v-for="(card, index) in cardData" :key="index">
						<div class="card" id="card-d">
							<header class="card-header" id="card-header">
								<p class="card-header-title">  
									{{card.cardTitle}}
								</p>
							</header>
							<a class="card-image has-text-centered px-3" :href=`${card.imageLink}`>
								<img :src="card.cardImage" class="logo" alt="searxlogo">
								<div class="tags has-addons is-justify-content-flex-end pb-2">
									<span :class="card.tagType">{{card.tagText}}</span>
									<span v-if="!(card.readytext === 'Coming Soon!')"class="tag">{{card.postDate}}</span>
								</div>
							</a>
							<hr/>
							<div class="card-content">
								{{card.cardText}}
							</div>
							<footer class="card-footer">
								<p class="card-footer-item">
								<a :href=`${card.readylink}` :class="card.readybutton">{{card.readytext}}</a>
								</p>
							</footer>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!--about-section-->
		<section class="section hidden" id="about-section" style="padding-top: 12px;">
			<div class="container">
				<h3 class="title has-text-centered is-size-4" style="margin-bottom:48px">About</h3>
			</div>
		</section>
		</div>


		<!--resume-section-->
		<section class="section hidden" id="resume-section">
			<div class="columns is-centered">
				<embed src="resume/Rameau Resume.pdf" type="application/pdf" width="80%" height="1100px" />
			</div>
		</section>


		<!--footer-section-->
		<footer class="footer" id="site-footer" style="height: 75px;">
			<div class="container">
				<div class="columns">
					<div class="column has-text-right has-text-right-tablet">
						<div class="buttons is-right" id="button-list">
							<a class="button is-small is-text" href="https://github.com/dr1793" id="icon-button">
								<img src="images/icons/github.svg" height=24px width=24px alt="" id="icon-button">
							</a>
							<a class="button is-small is-text" href="mailto:delrameau@gmail.com" id="icon-button">
								<img src="images/icons/gmail.svg" height=24px width=24px alt="" id="icon-button">
							</a>
							<a class="button is-small is-text" href="https://www.linkedin.com/in/david-rameau-518118101/" id="icon-button">
								<img src="images/icons/linkedin.svg" height=24px width=24px alt="" id="icon-button">
							</a>
					</div>
					<div class="column has-text-right" id:"copyright">
						<p class="subtitle is-6 has-text-grey">© 2020 David E. Rameau</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="index.js"></script>
		<!--<script type= "module" src="/js_features/drag.js"></script>-->
		<script type="module" src="myvue.js"></script>
	</body>
</html>

