<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/mybulmastyles.css" />
    <link rel="icon" href="../images/sad copy 2.png" />
    <title>Tableau Report Comparison Test</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="../node_modules/vue/dist/vue.min.js"></script>
    <script type="module" src="tablevue.js"></script>
    <script type="text/javascript"
        src="../node_modules/bulma-extensions/bulma-accordion/dist/js/bulma-accordion.min.js"></script>
</head>

<body>
    <div class="section">
        <!--header section-->
        <div>
            <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-space-between">
                <h3 class="title has-text-left is-3">
                    Tableau Report Comparison Tester
                </h3>
                <div class="section is-flex has-text-left pt-1">
                    <a href="../#" id="returnButton" class="button is-danger is-outlined">
                        Return to site home
                    </a>
                </div>
            </div>
            <div>
                <h3 class="subtitle has-text-left is-6 m-3">
                    Tired of publishing minor changes to a report, only to find that they had unnoticed and
                    unintended consequences?
                </h3>
                <h3 class="subtitle has-text-left is-6 ml-3">
                    Tired of spending countless hours searching (and failing to catch) those changes?
                </h3>
                <h3 class="subtitle has-text-left is-6 m-3">
                    This webpage is a tool that will comb through a new version of a report, compare it to it's
                    production version, and output the differences as JSON.
                </h3>
            </div>
        </div>

        <!--how-to section-->
        <div class="has-text-center">
            <div class="clear"></div>
            <div class="is-flex is-flex-direction-column is-align-items-center">
                <button id="howToButton" class="button is-small is-ghost is-focused">
                    How-To
                </button>
            </div>
            <div class="is-hidden" id="howToText">
                <pre class="is-family-primary">
            How to: 
          </pre>
                <div class="clear"></div>
            </div>
            <hr />
            <div class="clear"></div>
        </div>

        <!--input section-->
        <div class="is-flex is-flex-direction-column is-align-items-center">
            <div class="clear"></div>
            <input class="input" type="text" placeholder="URL to report in development/QA environment (Demo: )"
                id="input" type="text" />
            <div class="clear"></div>
            <input class="input" type="text" placeholder="URL to report in production environment (Demo: )" id="input2"
                type="text" />
            <div class="clear"></div>
            <button class="button is-light" id="button">
                Compare these Reports
            </button>
            <div class="clear"></div>
        </div>

        <!--Report Section-->
        <div class="is-flex is-flex-direction-column is-align-items-center">
            <div id="main" class="box is-flex is-flex-direction-column is-align-items-center">
                <H2 class="ReportTitle is-size-5" id="reportName">DEV/QA Report: </H2>
                <H2 class="is-size-4" id="reportName"> </H2>
                <div class="box" id="v1"></div>
                <H2 class="ReportTitle is-size-5" id="reportName2">PROD Report: </H2>
                <H2 class="is-size-4" id="reportName"> </H2>
                <div class="box" id="v2"></div>
                <H3 id="diffexplanation"></H3>
                <div id="diff"></div>

                <!-- Results Table-->
                <p>Results</p>
                <section class="accordions" id="workbookRows">
                    <article class="accordion" v-for="(row, index) in tabRows" :key="index">
                        <div class="accordion-header toggle has-background-danger">
                            <p>{{row.header}}</p>
                        </div>
                        <div class="accordion-body" v-if="row.contentflag">
                            <div class="accordion-content">
                                {{row.content}}
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>

    <!--footer-section-->
    <footer class="footer" id="site-footer">
        <div class="container">
            <div class="columns pb-1">
                <div class="column has-text-right has-text-right-tablet pr-0 pb-1">
                    <div class="buttons is-right pb=1" id="button-list">
                        <a class="button is-small is-text" href="https://github.com/dr1793" id="icon-button">
                            <img src="../images/icons/github.svg" height="20px" width="20px" id="icon-button">
                        </a>
                        <a class="button is-small is-text" href="mailto:delrameau@gmail.com" id="icon-button">
                            <img src="../images/icons/gmail.svg" height="20px" width="20px" id="icon-button">
                        </a>
                        <a class="button is-small is-text" href="https://www.linkedin.com/in/david-rameau-518118101/"
                            id="icon-button">
                            <img src="../images/icons/linkedin.svg" height="20px" width="20px" id="icon-button">
                        </a>
                    </div>
                    <div class=" has-text-right pr-3" id: "copyright">
                        <p class="subtitle is-7 has-text-grey">© David Rameau, 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="module" src="reg_tests_controller.js"></script>
</body>

</html>
