#main {
  padding: 1px;
  display: flex;
  flex-direction: column;
  width: 90vw;
}
#main > div {
  margin: 10px;
}
#v1 {
  min-width: 70vw;
  max-width: 80vw;
  max-height: 800px;
  min-height: 400px;
  flex-grow: 2;
  overflow-y: auto;
}
#v2 {
  min-width: 70vw;
  max-width: 80vw;
  min-height: 400px;
  max-height: 800px;
  flex-grow: 2;
  overflow-y: auto;
}
#diffexplanation {
  border-left: 0px;
  max-width: 78vw;
}
.ReportTitle {
}
.clear {
  clear: both;
  height: 20px;
}
#site-footer {
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 20px;
  min-height: 45px;
}
#button-list {
  margin-bottom: 0px;
}
#icon-button {
  opacity: 0.8;
}
#resultsTableRow {
  border-radius: 5px;
  min-width: 80vw;
}
#workbookRows {
  min-width: 70vw;
}
